# Exclude generated README files in tmp folder
tmp/*
!tmp/.gitkeep

# TMP parameter files
*.log
*~
*.swp
.directory
.DS_Store*

# Composer
!bin/console
vendor

# PHPUnit
phpunit.xml
.phpunit.result.cache

# Composer
composer.phar
composer.lock

# Ignore PHPStorm config folder
.idea
